body {
        padding-top: 50px;
    }

.blocksatz{
        text-align: justify;
        text-justify: auto;  
        /*word-break: break-all;*/
}

.more-height{ /* For the contact info*/
   line-height: 2;
}


.btn-outline-primary{
  border-color: #2058afff;
  color: #2058afff;
}
.btn-outline-primary:hover{
  color:#fff;
  background-color:#2058afff;
  border-color:#2058afff
}


.blog_image{display: inline-block; max-width: 400px; max-height: 400px;}
.blog_image img {max-width: 100%; height:auto;}