{{ define "content" }}

<div class="container">
    <div id="about">
        <div class="row">
            {{ partial "about.html" .}}
        </div>
        <div class="row">
            {{ partial "education.html" . }}
            {{ partial "work.html" . }}
        </div>
    </div>
    <div class="row pt-4" id="publications">
        {{ partial "publication_partial.html" . }}
    </div>
    <div class="row">
        {{ partial "talks_partial.html" . }}
    </div>
    <div class="row">
        {{ partial "research_visits_partial.html" . }}
        {{ partial "communityservice.html" . }}
    </div>
    <div class="row pt-4" id="teaching">
        {{ partial "teaching.html" . }}
    </div>
</div>

{{ end }}