{{ define "content" }}

<div class="container pt-4">
    <div class="row" id="about">
        {{ partial "about.html" .}}
    </div>
    <div class="row" id="education">
        {{ partial "education.html" . }}
        {{ partial "work.html" . }}
    </div>
    <div class="row pt-4" id="publications">
        {{ partial "publication_partial.html" . }}
    </div>
    <div class="row">
        {{ partial "talks_partial.html" . }}
    </div>
    <div class="row">
        {{ partial "research_visits_partial.html" . }}
        {{ partial "communityservice.html" . }}
    </div>
    <div class="row pt-4" id="teaching">
        {{ partial "teaching.html" . }}
    </div>
</div>

{{ end }}