body {
        padding-top: 50px;
    }

.big-icon{
    font-size: 2.2rem;
    font-weight: 600;
    }

.md-icon{
      font-weight: 600;
      }
.blocksatz{
        text-align: justify;
        text-justify: auto;  
        /*word-break: break-all;*/
}

.more-height{
   line-height: 2;
}

s1 { /* former p */
    display: block;
  }

s2 { /*former h5*/
    display: block;
    font-size: 1.25rem;
    font-weight: 400;
  }

s3 { /*former h6*/
    display: block;
    line-height: 1.3;
    font-size: 1rem;
    font-weight: 400;
  }

s4 { /* former h7 */
    display: block;
    line-height: .75;
    font-size: .75rem;
    font-weight: 400;
  }

s5 { /* former h3 */
    display: block;
    line-height: 1.75;
    font-size: 1.75rem;
    font-weight: 400;
  }