body {
        padding-top: 50px;
    }

.big-icon{
    /*font-size: 2em;*/
    font-weight: 600;

    }

.blocksatz{
        text-align: justify;
        text-justify: auto;  
        /*word-break: break-all;*/
}