{{ $data := index site.Data site.Language.Lang }}
{{ with $data.about.about }}
<div class="col">

<div class="card">
    <div class="row">
        <div class="col-md-5 col-lg-4 pt-3 ps-4 pe-4 ">
            {{- partial "responsive_image.html" (dict "image" .image "title" site.Params.title "class" "card-img-top rounded img-fluid" "widths" (dict "lg" 33 "md" 42)) -}}
            {{ partial "contact.html" .}}
        </div>
        <div class="col-md-7 col-lg-8 col-xxl-6 pt-3 d-flex align-items-stretch">
            <div class="card-body">
                <s5 class="card-title"><i class="bi bi-person-circle"></i> {{ .title | markdownify }}</s5>
                <div class="container">
                    <p class="blocksatz container">{{ .content | markdownify }}</p>
                    <div class="row d-none d-md-block">
                        {{ with .cryptography }}
                        <div class="col-lg-12">
                            <div class="row">
                                <div class="col-lg-12">
                                    <s5> <!--<i class="{{ .icon }}"></i> -->
                                        {{ .title | markdownify }}</s5>
                                    <div class="d-none d-lg-block container">
                                        <p class="blocksatz">{{ .content | markdownify }}</p>
                                    </div>
                                    <div class="d-md-block d-lg-none container">
                                        <p class="blocksatz">{{ .contentshort | markdownify }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{ end }}
                    </div>
                    <div class="row d-none d-xl-block">
                        {{ with .privacy }}
                        <div class="col-lg-12">
                            <div class="row">
                                <div class="col-lg-12">
                                    <s5> <!--<i class="{{ .icon }}"></i> -->
                                        {{ .title | markdownify }}</s5>
                                    <div class="container">
                                        <p class="blocksatz">{{ .content | markdownify }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{ end }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{{ end }}