{{ $data := index site.Data site.Language.Lang }}
{{ if $data.communityservice.communityservice.enable }}
{{ with $data.communityservice.communityservice }}
<div class="col-lg-12">
    <div class="card">
        <div class="card-body">
            <h3 class="card-title"><i class="ti-link"></i> {{ .title | markdownify }}</h3>
            <div class="container">
                <h5 class="pt-4"> {{ .title_external_reviews }} </h5>
                <div class="container">
                    {{ range .external_reviews }}
                    <div class="row">
                        <div class="col-lg-12">
                            <h6>{{ .conference }}</h6>
                        </div>
                    </div>
                    {{ end }}
                </div>
            </div>
        </div>
    </div>
</div>
{{ end }}
{{ end }}