{{ $data := index site.Data site.Language.Lang }}
{{ with $data.education.education }}
<div class="col-lg-6 pt-4">
    <div class="card h-100">
        <div class="card-body">
            <s5><i class="ti-write"></i> {{ .title | markdownify }}</s5>
            <div class="container">
                {{ range .items }}
                <div class="row">
                    <div class="col-md-12 pt-4">
                        <s2>{{ .degree }} in {{ .subject }} </s2>
                        <s3>{{ .institution }}</s3>
                        {{ if .topics }}
                        <s1>{{ .topics }} </s1>
                        {{ end }}
                        <s1>{{ .date }}</s1>
                    </div>
                </div>
                {{ end }}
            </div>
        </div>
    </div>
</div>
{{ end }}