<nav class="navbar sticky-bottom bg-light navbar-expand navbar-light bg-light">
         <ul class="navbar-nav  mx-auto">
                {{ $currentPage := . }}
                {{ range .Site.Menus.main.ByWeight }}
                {{ if ge .Weight 10 }}
                <li class="nav-item ">
                    <a class='nav-link {{ if eq .URL $currentPage }} active {{ end }}' href="{{ absURL .URL }}">
                        {{ .Name }}
                    </a>
                </li>
                {{ end }}
                {{ end }}
            </ul>
            <!-- Language List -->
				{{- if site.IsMultiLingual }}
				<select class="form-select" id="select-language" onchange="location = this.value;">
					{{ $siteLanguages := site.Languages}}
					{{ $pageLang := .Page.Lang}}
					{{ range .Page.AllTranslations }}
					{{ $translation := .}}
					{{ range $siteLanguages }}
					{{ if eq $translation.Lang .Lang }}
					{{ $selected := false }}
					{{ if eq $pageLang .Lang}}
					<option id="{{ $translation.Language }}" value="{{ $translation.Permalink }}" selected>{{ .LanguageName }}
					</option>
					{{ else }}
					<option id="{{ $translation.Language }}" value="{{ $translation.Permalink }}">{{ .LanguageName }}</option>
					{{ end }}
					{{ end }}
					{{ end }}
					{{ end }}
				</select>
				{{ end }}
</nav>


<script src="/js/jquery-3.5.1.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>