<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ .Site.BaseURL | relLangURL }}">
            {{ if site.Params.logo }}
            <div class="text-secondary">
                <img src="{{ site.Params.logo | relURL }}" loading="lazy" height="42" alt="{{ .Site.Title }}">
                <span style="vertical-align:middle">{{ site.Title }}</span>
                {{ else }}
                {{ site.Title }}
                {{ end }}
            </div>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                {{ $currentPage := . }}
                {{ range .Site.Menus.main.ByWeight }}

                {{ if lt .Weight 10 }}
                <li class="nav-item ">
                    <a class='nav-link {{ if eq .URL $currentPage }} active {{ end }}' href="{{ .URL }}"
                        data-target='{{ replace .URL "/" "" }}'>
                        {{ .Name }}
                    </a>
                </li>
                {{ end }}
                {{ end }}
            </ul>
        </div>
    </div>
</nav>