{{ $data := index site.Data site.Language.Lang }}
{{ if $data.publications.publications.enable }}
{{ with $data.publications.publications }}
<div class="col-lg-12">
    <div class="card">
        <div class="card-body">
            <h3 class="card-title"><i class="ti-files"></i> {{ .title | markdownify }}</h3>
            <div class="container">
                {{ range .list }}
                <div class="row">
                    <div class="col-lg-12 pt-4">
                        <h5>{{ .title }}</h5>
                        <h6>{{ .authors }}</h6>
                        <h7>{{ .published }}</h7><br>
                        <a href="{{ .url }}" class="text-secondary">{{ .url }}</a>
                    </div>
                </div>
                {{ end }}
            </div>
        </div>
    </div>
</div>
{{ end }}
{{ end }}