{{ $data := index site.Data site.Language.Lang }}
{{ with $data.publications.publications }}
<div class="col-lg-12">
    <div class="card">
        <div class="card-body">
            <s5><i class="ti-files"></i> {{ .title | markdownify }}</s5>
            <div class="container">
                {{ range .items }}
                <div class="row">
                    <div class="col-lg-12 pt-4">
                        <s2>
                            {{ if .has_info}}
                            <a data-bs-toggle="modal" data-bs-target="#{{ printf " %s%s" .title .year | urlize}}"
                                class="text-body"> {{.title}}</a>
                            {{ else }}
                            {{ .title }}
                            {{ end }}
                        </s2>
                        <s3>{{ .authors }}</s3>
                        <s1>{{ .published }}</s1>
                        {{ if .url }}
                        <a href="{{ .url }}" class="text-secondary">{{ .url }}</a>
                        {{ end }}
                    </div>
                </div>
                {{ if .has_info }}
                <div class="modal fade" id="{{ printf " %s%s" .title .year | urlize}}">
                    <div class="modal-dialog modal-xl modal-dialog-scrollable">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5">{{ .title }}</h1>

                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="container">
                                    
                                    <s2 class="">Abstract</s2>
                                    <div class="container">
                                        <s1 class="blocksatz">{{.abstract | markdownify}}</s1>
                                    </div>
                                    <s2 class="pt-3">Authors</s2>
                                    <div class="container">
                                        <s1>{{ .authors }}</s1>
                                    </div>
                                    <s2 class="pt-3">Published at</s2>
                                    <div class="container">
                                        <s1>{{ .published }}</s1>
                                    </div>
                                    {{ if .source }}
                                    <s2 class="pt-3">Full Text</s2>
                                    <div class="container">
                                        <a href="{{ .source }}" class="text-secondary">{{ .source }}</a>
                                    </div>
                                    {{ end }}
                                    {{ if .bibtex }}
                                    <s2 class="pt-3">Citation</s2>
                                    <div class="container">
                                        <pre>{{.bibtex}}
                                        </pre>
                                    </div>
                                    {{ end }}
                                </div>
                            </div>
                            <!--
                            <div class="modal-footer">
                                <button type="button" class="btn btn-close" data-bs-dismiss="modal"></button>
                            </div>
                            -->
                        </div>
                    </div>
                </div>
                {{ end }}
                {{ end }}



            </div>
        </div>
    </div>
</div>
{{ end }}