<div class="container">

    <s2 class="">Abstract</s2>
    <div class="container">
        <s1 class="blocksatz">{{.abstract | markdownify}}</s1>
    </div>
    <s2 class="pt-3">Authors</s2>
    <div class="container">
        <s1>{{ .authors }}</s1>
    </div>
    <s2 class="pt-3">Published</s2>
    <div class="container">
        <s1>{{ .published }} {{.year}}</s1>
    </div>
    {{ if .source }}
    <s2 class="pt-3">Full Text</s2>
    <div class="container">
        <a href="{{ .source }}" class="text-secondary">{{ .source }}</a>
    </div>
    {{ end }}
    {{ with .pdf }}
    <s2 class="pt-3">Full Text</s2>
    <div class="container">
    <a href="{{ . }}" class="text-dark h1"><i class="bi bi-file-earmark-pdf"></i></a>
    </div>
    {{ end }}
    {{ with .bibtex }}
    <s2 class="pt-3">Citation</s2>
    <div class="container">
        <pre>{{.}}</pre>
    </div>
    {{ end }}
</div>