<!-- creates a image for the following inputs:
	image: the path to the image
	title: title for the image
	class: string of a class if not want to use the default "img-fluid bg-image"
	widths: computation of the width plus percentage: e.g. md 50 stands for col-md-6
-->
{{- $respSizes := slice "320" "640" "960" "1280" "1600" "1920" "2000" "2500" "3000" "3500" "4000" "4500" -}}
{{- $breakpoints:= dict "xs" 0 "sm" 576 "md" 768 "lg" 992 "xl" 1200 "xxl" 1400 -}}
{{- $filter := "box" -}}
{{- $title := .image -}}
{{- $class := "img-fluid bg-image" -}}

{{- $src := resources.Get .image -}}
{{- if and $src (eq $src.MediaType.MainType "image") -}}
{{- if .title -}} {{- $title = .title -}} {{ end -}}
{{- if .class }} {{- $class = .class -}} {{ end -}}
{{- if $src -}}
<!-- compute sources -->
<img src="{{- ($src.Resize (print 960 "x jpg " $filter ) ).RelPermalink -}}" srcset="
{{- with $respSizes -}}
	{{- range $i, $e := . -}}
		{{- if ge $src.Width . -}}
			{{- if $i }}, {{ end -}}{{- ($src.Resize (print . "x webp " $filter ) ).RelPermalink }} {{ . }}w
		{{- end -}}
	{{- end -}}
{{- end -}}" sizes="
{{- with .widths -}}
{{- range $input_key, $input_percentage := . -}}
	{{- range $bp_key, $bp_value  := $breakpoints -}}
		{{- if eq $input_key $bp_key -}} 
		(min-width: {{ $bp_value }}px) {{$input_percentage -}}vw, {{ end -}}
	{{- end -}}
{{- end -}}
{{- end -}}
100vw" class="{{- $class -}}" alt="{{- $title -}}" width="{{$src.Width}}" height="{{$src.Height}}" />
{{ end }}
{{ end }}