{{ $data := index site.Data site.Language.Lang }}
{{ if $data.teaching.teaching.enable }}
{{ with $data.teaching.teaching }}
<div class="col-lg-12">
    <div class="card">
        <div class="card-body">
            <h3 class="card-title">{{ .title | markdownify }}</h3>
            <div class="container">
                {{ range .list }}
                <div class="row">
                    <div class="col-lg-12 pt-4">
                        <h5>{{ .subject }}</h5>
                        <div class="container">
                            <p>{{ .years }}</p>
                        </div>
                    </div>
                </div>
                {{ end }}
            </div>
        </div>
    </div>
</div>
{{ end }}
{{ end }}