{{ $data := index site.Data site.Language.Lang }}
{{ with $data.work.work }}
<div class="col-lg-6 pt-4">
    <div class="card h-100">
        <div class="card-body">
            <s5><i class="ti-briefcase"></i> {{ .title | markdownify }}</s5>
            <div class="container">
                {{ range .items }}
                <div class="row">
                    <div class="col-md-12 pt-4">
                    <s2>{{ .name }} </s2>
                    <s3>{{ .topics }} </s3>
                    <s1> {{ if .employer }} {{ .employer }} <br>{{end}}{{ .date }} </s1>
                    </div>
                </div>
                {{ end }}
            </div>
        </div>
    </div>
</div>
{{ end }}