<nav class="navbar fixed-top navbar-expand-lg navbar-light" style="background-color: #FFFFFF;">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ .Site.BaseURL | relLangURL }}">
            <div>
                {{ if site.Params.logo }}
                <img src="{{ site.Params.logo | relURL }}" height="42" alt="{{ .Site.Title }} Logo">
                <span style="vertical-align: middle; font-weight: 200;">{{ site.Title }}</span>
                {{ else }}
                {{ site.Title }}
                {{ end }}
            </div>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                {{ $currentPage := . }}
                {{ range .Site.Menus.main.ByWeight }}

                {{ if lt .Weight 10 }}
                <li class="nav-item ">
                    <a class='nav-link {{ if in $currentPage .URL  }} active {{ end }}' href="{{ .URL }}"
                        data-target='{{ replace .URL "/" "" }}' style="font-weight: 200;">
                        {{ .Name }}
                    </a>
                </li>
                {{ end }}
                {{ end }}
            </ul>
        </div>
    </div>
</nav>